<div class="row">
    <div class="col-md-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        Registro de un nuevo cliente
                    </h3>
                </div>
            </div>
            <div class="card-body animate__animated animate__fadeInUp">
                <div class="alert alert-success animate__animated animate__fadeIn" *ngIf="status=='success'" role="alert" >Se ha registrado un cliente nuevo</div>
                <div class="alert alert-danger animate__animated animate__fadeIn" *ngIf="status=='error'" role="alert" >{{ message }}</div>
                <form class="row"   #formCliente="ngForm" (ngSubmit)="createClient(formCliente)">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" class="form-control form-control-solid" placeholder="Nombre"
                            [(ngModel)]="cliente.Nombre" name="nombre" required
                            >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Apellidos:</label>
                            <input type="text" class="form-control form-control-solid" placeholder="Apellidos"
                            [(ngModel)]="cliente.Apellidos" name="apellidos" required
                            >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre Usuario:</label>
                            <input type="text" class="form-control form-control-solid" placeholder="Nombre Usuario"
                            [(ngModel)]="cliente.Nombre_Usuario" name="usuario" required
                            >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Correo Electronico:</label>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control form-control-solid" placeholder="Correo Electronico"
                            [(ngModel)]="cliente.Correo_Electronico" name="correo" required
                            >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Contraseña:</label>
                            <input type="password" class="form-control form-control-solid" placeholder="Contraseña"
                            [(ngModel)]="cliente.Contrasena" name="contrasena" required
                            >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Edad:</label>
                            <input type="number" class="form-control form-control-solid" placeholder="Edad"
                            [(ngModel)]="cliente.Edad" name="edad" required
                            >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Estatura:</label>
                            <input type="number" step="any" class="form-control form-control-solid" placeholder="Estatura"
                            [(ngModel)]="cliente.Estatura" name="estatura" required
                            >
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Peso:</label>
                            <input type="number" step="any" class="form-control form-control-solid" placeholder="Peso"
                            [(ngModel)]="cliente.Peso" name="peso" required
                            >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>GEB:</label>
                            <input type="number" step="any" class="form-control form-control-solid" placeholder="GEB"
                            [(ngModel)]="cliente.GEB" name="geb" required
                            >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>ETA:</label>
                            <input type="number" step="any" class="form-control form-control-solid" placeholder="ETA"
                            [(ngModel)]="cliente.ETA" name="Eta" required
                            >
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary mr-2" [disabled]="formCliente.invalid">Crear Cliente</button>
                            <a class="btn btn-secondary" routerLink="/home">Cancelar y/o Salir</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



